#title{
    text-align: center;
    font-size: 30px;
    width: 30%;
    margin: 0 auto;
}

.table{
    display: flex;
    width: 50%;
    margin: 10px auto;
    text-align: left;
}
.table p{
    margin: 0;
    width: 200px;
}
form{
    margin: 0 auto;
}
#input_form{
    width: 50%;
    margin: 0 auto;
}
#comment_free{
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    padding: 8px;

}
#send_btn{
    text-align: center;
    margin: 10px auto;
}